body, html{
    height: 100%;
    background-color: #9799BA;
    
}

body{
    scroll-behavior:smooth;
}

p{
    font-family: 'Spline Sans', sans-serif;
    font-size: 22px;
}

div{
    display: block;
}


.head-intro{
    margin-bottom: 50px;
    padding: 65px 50px;
    text-align: center;
    background-image: url(https://cdn.pixabay.com/photo/2015/07/28/13/21/cd-864402_1280.jpg);
    color: #9799BA;
    max-width: 100%;
    height: auto;
   
    
}

.header{
    text-decoration-line: underline;
}

.features{
    list-style-type: disc;
    font-size: 20px;
    font-family: 'Spline Sans', sans-serif;
    font-weight: bold;
    padding-left: 2em;
}

.russ{
    max-height: 600px;
    max-width: 800px; 
    
}

.caption{
    font-size: 18px;
    font-family: 'Spline Sans', sans-serif;
    display: block;
    font-style:italic;
}

.infograph{
    max-height: 800px;
    max-width: 400px;
}

.comp{
    color: #FEADA9;
    font-family: 'Spline Sans', sans-serif;
    text-align: center;
}
.header2{
    text-decoration-line: underline;
    text-decoration-color: white;
    color: #FEADA9;
    font-family: 'Spline Sans', sans-serif;
    text-align: center;
}

.info{
    font-size: 22px;
    margin: 10px;
    padding-top: 10px;
    color: #FEADA9;
}

.cd-graph{
    max-height: 600px;
    max-width: 600px;
    padding-bottom: 20px;
}